@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Roboto:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&family=Open+Sans:wght@300;400;500;600&display=swap');


$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Open Sans', sans-serif;
//fontweight
$textRegular: 400;
$textLight: 300;
$textBold: 700;
//vars globales
$mainColor:#7e0909;
$secondaryColor:#EEEBDD;
$thirdColor: #D8B6A4;
$bgColor:rgb(0, 0, 0);

